.main {
    height: 100%;
}

.logo{
    padding-top: 25px; 
    height: 100px;
    position: relative;
    cursor: pointer;
}

@media only screen and (max-width: 845px) {
    .logo{
        padding-top: 25px; 
        display: block;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }
  }