html, body, #root {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 232, 189);
    background-image: url("images/3-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
